@import url('https://fonts.googleapis.com/css?family=Montserrat|Poiret+One&display=swap');

/* removing defaults for every element */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/* font for other elements */

body {
  font: 20px 'Montserrat', sans-serif;
}

/* for flex class elements */

.flex {
  display: flex;
}

/* for hidden class elements */

.hidden {
  display: none;
}

/* an exception font for title class */

.title {
  font-family: 'Poiret One', cursive;
}

/* top header */

.home-header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: #367dd9;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.header-top {
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

/* buttons in header */

.btn-signout:link,
.btn-signout:visited,
.btn-admin:link,
.btn-admin:visited {
  background: #448c3090;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
}
.btn-signout:hover,
.btn-admin:hover {
  color: #448c30;
  background: #fff;
}

/* top tabs */

.header-controls {
  height: 40px;
  justify-content: space-between;
}
.btn-top {
  font: inherit;
  border: 0;
  padding: 4px;
  color: #ffffffb0;
  background: #82b8d960;
  width: 50%;
}
.btn-top:hover {
  color: #fff;
  font-size: 1.4em;
}
.btn__highlight {
  color: #fff;
  font-size: 1.4em;
  background: #448c30;
}

/* the main content */

.home-main {
  position: relative;
  top: 100px;
  width: 100%;
  background: #82b8d9;
}

/* styles for footer */

.footer-home {
  position: relative;
  top: 100px;
  height: 40px;
  width: 100%;
  background: #367dd9;
  text-align: center;
}

/* my articles tab */

.my-articles {
  width: 100%;
}

/* section for writing article */

.write-container {
  padding: 10px 5px;
  width: 25%;
}
.explore-container {
  padding: 10px 5px;
  width: 15%;
}
.write-article {
  flex-direction: column;
  align-items: flex-end;
}
.choose-category {
  margin-top: 20px;
}
.share-btns {
  width: 100%;
}
/* section for my articles */

.my-articles-container {
  padding-left: 10px;
  width: 85%;
}

/* section for latest articles */

.latest-articles-container {
  width: 75%;
}

/* styles for buttons */

.action-btns {
  margin-top: 20px;
  justify-content: space-between;
}
.action-btn {
  border: 0;
  border-radius: 4px;
  font: inherit;
}
.btn-cancel {
  background: 0;
  text-decoration: underline;
}
.btn-cancel:hover {
  color: #f00;
  text-decoration: none;
}
.btn-share,
.btn-update,
.btn-comment,
.btn-search {
  color: #fff;
  background: #448c30;
  padding: 8px 20px;
  margin: 4px;
}
.btn-share:hover,
.btn-update:hover,
.btn-comment:hover,
.btn-search:hover {
  color: #448c30;
  background: #fff;
}
.btn-delete,
.btn-flag {
  color: #fff;
  background: #f00;
  padding: 10px 20px;
}
.btn-delete:hover,
.btn-flag:hover {
  color: #ff0000;
  background: #fff;
}

/* styles for articles */

.articles-title {
  margin-left: 10px;
}
.articles {
  padding: 20px;
  flex-direction: column;
}
.article {
  padding: 0 30px;
  justify-content: space-between;
  border-bottom: 2px solid #367dd9;
  border-radius: 4px;
  margin: 10px 0;
}
.article-content {
  padding: 20px 20px;
  border-right: 1px solid #367dd9;
  width: 66%;
}
.article-comments {
  font-size: 0.8em;
  width: 30%;
}
.author-box {
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.category-tag {
  font-size: 0.8em;
  color: #040950;
  flex-direction: column;
  align-items: center;
}
.category-title {
  font-style: italic;
}
.author-avatar {
  background: #fff;
  border-radius: 100px;
}
.author {
  font-weight: bold;
  line-height: 1.5;
}
.article-title {
  margin-bottom: 10px;
  text-align: center;
}
.article-controls {
  margin: 20px 0 0 0;
  justify-content: flex-end;
  align-items: center;
}
.article-control {
  border-radius: 10px;
  padding: 4px 10px;
  margin: 0 4px;
  background: #367dd9a0;
  flex-direction: column;
  align-items: center;
}
.article-control:hover {
  background: #367dd960;
}
.figcaption {
  color: #fff;
}
.comments-title {
  color: #00000060;
}
.comment {
  margin: 20px 0;
  color: #040950;
  justify-content: space-between;
  align-items: flex-end;
}
.read-more {
  margin: 10px 20px;
  text-decoration: none;
  color: #040950;
}
.read-more:hover {
  color: #fff;
}

/* styles for feedback modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #00000060;
}
.modal-contents {
  border: 4px solid #367dd9;
  border-radius: 10px;
  background: #fff;
}
.modal-edit,
.modal-delete,
.modal-comment,
.modal-flag {
  padding: 10px;
  flex-direction: column;
}
.text-input {
  color: white;
  background: #367dd900;
  width: 100%;
  padding: 4px;
  font: inherit;
  border: none;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.compose-article {
	color: #000;
  background: #fff;
  width: 100%;
}

/* exploring and searching for articles */

.explore-container {
  flex-direction: column;
}
.search-article,
.category-container {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px;
}

/* section for flagged articles */
.flagged-articles {
  justify-content: space-between;
}
.flagged-articles-container {
  width: 48%;
}
.flagged-comments-container {
  width: 48%;
}
.flagged {
  width: 100%;
  border: 0;
}
.flagged-comment {
  padding: 4px;
  border-radius: 4px;
}
.link-to-comments {
  text-decoration: none;
  color: #040950;
  display: none;
  padding: 5px 10px;
  align-self: flex-end;
}

/* responsive for tablets */

@media screen and (max-width: 1120px) {
  .choose-category {
    flex-direction: column;
    align-items: flex-end;
  }
  .explore-container {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 900px) {
  .article {
    flex-direction: column;
  }
  .article-content {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #367dd9;
  }
  .article-comments {
    width: 100%;
  }
  .write-container,
  .explore-container {
    width: 30%;
  }
  .my-articles-container,
  .latest-articles-container {
    width: 70%;
  }
  .modal-contents {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  .my-articles-container {
    margin: 0;
  }
}

/* responsive for mobiles */

@media screen and (max-width: 730px) {
  body {
    font-size: 0.8em;
  }
  .my-articles,
  .other-articles,
  .flagged-articles {
    flex-direction: column;
  }
  .header-controls {
    width: 100%;
    font-size: 0.7em;
  }
  .btn__highlight {
    font-size: 1em;
  }
  .btn-top:hover {
    font-size: 1em;
  }
  .write-container {
    padding: 20px;
  }
  .write-container,
  .my-articles-container,
  .explore-container,
  .latest-articles-container,
  .flagged-articles-container,
  .flagged-comments-container {
    width: 100%;
  }
  .link-to-comments {
    display: inline-block;
  }
  .header-top-btns {
    font-size: 0.8em;
    flex-direction: column;
    justify-content: flex-end;
  }
  .btn-signout {
    margin-bottom: 4px;
  }
  .article {
    padding: 10px;
  }
  .article-content {
    padding: 10px 0;
  }
}
