* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  font: 20px Arial;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.home-header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: #367dd9;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.header-top {
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;

}
.btn-signout:link,
.btn-signout:visited {
  background: #448c30;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
}
.btn-signout:hover {
  color: #448c30;
  background: #fff;
}
.header-controls {
  height: 30px;
  justify-content: space-between;
}
.btn-top {
  color: #ffffffb0;
  border: 0;
  font: inherit;
  background: #82b8d960;
  width: 50%;
}
.btn-top:first-child {
  border-right: 3px solid #367dd9;
}
.btn-top:hover {
  color: #fff;
  font-size: 1.4em;
}
.btn__highlight {
  color: #fff;
  font-size: 1.4em;
  background: #448c30;
}
.home-main {
  position: relative;
  top: 100px;
  width: 100%;
  background: #82b8d9;
}
.my-articles {
  width: 100%;
}
.write-container,
.explore-container {
  padding: 10px 5px;
  width: 25%;
}
.my-articles-container {
  margin-left: 10px;
  border-left: 4px solid #448c30;
  width: 75%;
}
.action-btns {
  margin-top: 20px;
  justify-content: space-between;
}
.action-btn {
  border: 0;
  border-radius: 4px;
  font: inherit;
}
.btn-cancel {
  background: 0;
  text-decoration: underline;
}
.btn-cancel:hover {
  color: #f00;
  text-decoration: none;
}
.btn-share,
.btn-update,
.btn-comment,
.btn-search {
  color: #fff;
  background: #448c30;
  padding: 10px 20px;
}
.btn-share:hover,
.btn-update:hover,
.btn-comment:hover,
.btn-search:hover {
  color: #448c30;
  background: #fff;
}
.footer-home {
  position: relative;
  top: 100px;
  height: 40px;
  width: 100%;
  background: #367dd9;
  text-align: center;
}
.articles-title {
  margin-left: 10px;
}
.articles {
  padding: 20px;
  flex-direction: column;
}
.article {
  padding: 10px;
  justify-content: space-between;
  border: 2px solid #367dd9;
  border-radius: 4px;
}
.article-content {
  padding: 4px;
  border-right: 4px solid #367dd9;
  width: 66%;
}
.article-comments {
  font-size: .8em;
  width: 30%;
}
.author-box {
  margin-bottom: 20px;
}
.author-avatar {
  background: #fff;
  border-radius: 100px;
}
.author {
  font-weight: bold;
  line-height: 1.5;
}
.article-title {
  margin-bottom: 10px;
  text-align: center;
}
.article-controls {
  justify-content: flex-end;
}
.article-control {
  border-radius: 4px;
  padding: 4px 10px;
  margin: 0 4px;
  background: #367dd930;
  flex-direction: column;
  align-items: center;
}
.article-control:hover {
  background: #367dd960;
}
.figcaption {
  color: #fff;
}
.comments-title {
  color: #00000060;
}
.comment {
  margin: 20px 0;
  color: #040950;
  justify-content: space-between;
  align-items: flex-end;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #00000060;
}
.modal-contents {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}
.modal-edit,
.modal-delete,
.modal-comment {
  flex-direction: column;
}
.text-input {
  font: inherit;
}
.btn-delete {
  color: #fff;
  background: #f00;
  padding: 10px 20px;
}
.btn-delete:hover {
  color: #ff0000;
  background: #ff000040;
}