@import url('https://fonts.googleapis.com/css?family=Montserrat|Poiret+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  font: 20px 'Montserrat';
  background-image: linear-gradient(to left, #82b8d9, #367dd9);
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.title {
  font: 600 1.4em 'Poiret One', cursive;
}
.register-main {
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.register {
  background: #82b8d960;
  width: 40%;
  height: 80%;
  border: 0;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
}
.register--header {
  justify-content: center;
  height: 10%;
  width: 100%;
}
.register--signup,
.register--signin {
  margin: 20px;
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btn-top {
  color: #ffffffb0;
  border: 0;
  font: inherit;
  background: #82b8d960;
  width: 50%;
}
.btn-top:hover {
  color: #fff;
  font-size: 1.4em;
}
.btn-top:first-child {
  border-right: 3px solid #367dd9;
}
.btn__highlight {
  color: #fff;
  font-size: 1.4em;
  background: #448c30;
}
.signup-container,
.signin-container {
  width: 90%;
  height: 90%;
  flex-direction: column;
  justify-content: center;
}
.form {
  margin-top: 40px;
}
.form-element {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4px;
}
.action-btns {
  margin-top: 30px;
  justify-content: space-between;
}
.form-btn {
  border: 0;
  border-radius: 4px;
  font: inherit;
}
.form--input {
  background: #ffffff40;
  font-size: 1em;
  padding: 4px;
  border: 0;
  border-radius: 4px;
}
.form--input::placeholder {
  color: #00000090;
}
.btn-cancel {
  background: 0;
  text-decoration: underline;
}
.btn-cancel:hover {
  color: #f00;
  text-decoration: none;
}
.btn-submit {
  color: #fff;
  background: #448c30;
  padding: 10px 20px;
}
.btn-submit:hover {
  color: #448c30;
  background: #fff;
}

/* responsive for tablets */

@media screen and (max-width: 1024px) {
  .register {
    height: 90%;
    width: 60%;
  }
}

/* responsive for mobiles up 425px*/

@media screen and (max-width: 700px) {
  .register {
    height: 100%;
    width: 100%;
  }
}

/* responsive for mobiles below 425px*/

@media screen and (max-width: 424px) {
  body {
    font: 18px Arial;
  }
  .form-element {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}